@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 1200px; /* Set the maximum width of the container */
  margin: 0 auto; /* Center the container horizontally */
  padding: 0 20px; /* Add padding on the sides for content spacing */
}
.main-container {
  max-width: 1800px; /* Set the maximum width of the container */
  margin: 0 auto; /* Center the container horizontally */
  padding: 0 20px;
  height: 60vh !important
}


  .h-calc-100-minus-20 {
    height: calc(100vh - 76px);
    padding-top: 76px;
  }
  .test {
    margin-top: 150px;
  }

  .gap {
    margin-top: 6rem ;
  }
 
  @media (max-width: 767px) {
    .gap {
      margin-top: 2rem ;
    }
  }

  /* Define the slide-up animation */
@keyframes slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply the animation to the element */
.slide-up {
  animation: slide-up 0.5s ease-out; /* Adjust duration and timing function as needed */
}

/* Hero Section */

.hero {
  position: relative;
  overflow: hidden;
}

.video {
  width: 100%;
  position: relative;
}

.video {
  width: 100%;
  height: auto;
  display: block;
}

.content-overlay {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50%; /* Adjust as needed */
  padding: 20px;
  box-sizing: border-box;
  color: #fff;
}

@media (max-width: 768px) {
  .content-overlay {
    width: 100%;
    text-align: center;
  }
}

/* Set up initial styles */
.typing-text {
  overflow: hidden;
  border-right: .15em solid orange; /* blinking cursor */
  white-space: nowrap; /* keep text in one line */
  font-family: monospace; /* for a typewriter effect */
  animation: typing 2s steps(40) infinite;
}

/* Keyframes for the typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* For mobile view (up to 768px) */
@media (max-width: 768px) {
  #grid-container {
    grid-template-columns: repeat(1, 1fr) !important;
    /* Other grid properties */
  }
}

@media only screen and (max-width: 767px) {
  .button-element-1 {
    left: 0 !important;
  }
}

/* Media query for larger screens */
@media only screen and (min-width: 768px) {
  .button-element-1 {
    left: 320px !important;
  }
}
  
@media only screen and (max-width: 767px) {
  .button-element-2 {
    left: 320px !important;
  }
}

/* Media query for larger screens */
@media only screen and (min-width: 768px) {
  .button-element-2 {
    left: 320px !important
  }
}

.video-info {
  bottom: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
  background-color: rgba(249, 245, 245, 0.178); /* Semi-transparent background */
  color: #000;
  padding: 10px;
  border-radius: 5px;
  z-index: 9999 !important;
}

.video-title {
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
}

.video-caption {
  margin-bottom: 0;
  font-size: 14px;
}

.service-testimonial {
  text-align: center;
  background: linear-gradient(#302f2f57, #302f2f57),
    url(../src/assets/popular-3.webp) 0 0, no-repeat;
  background-size: cover;
  /* background-position: 50% 100%; */
  background-attachment: fixed;
  padding: 4rem 0;
  
  margin-top: 1.5rem;
}

